apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: todo-backend
    component: backend
spec:
  type: ClusterIP
  selector:
    app: todo-backend
    component: backend
  ports:
  - name: http
    port: 8001
    targetPort: 8001
    protocol: TCP
  sessionAffinity: None
