apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: todo-frontend
    component: frontend
spec:
  type: NodePort
  selector:
    app: todo-frontend
    component: frontend
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
  sessionAffinity: None
