apiVersion: v1
kind: Secret
metadata:
  name: {{ include "todo-backend.fullname" . }}-secret
  labels:
    {{- include "todo-backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.secrets.databaseUrl | required "secrets.databaseUrl is required" | quote }}
  BETTER_AUTH_SECRET: {{ .Values.secrets.betterAuthSecret | required "secrets.betterAuthSecret is required" | quote }}
  GROQ_API_KEY: {{ .Values.secrets.groqApiKey | required "secrets.groqApiKey is required" | quote }}
